* {margin: 0; padding: 0;}
html, body {height: 100%;}

#clock {
  color: red; font: 128px/128px Lato; height: auto;
  /*Vertical centering*/
  position: relative; top: 50%; margin-top: -25px;
  /*Horizontal centering*/
  text-align: center;
}